<div class="new-gripe">
  <%= form_for(@gripe) do |f| %>
  <% if @gripe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gripe.errors.count, "error") %>
        prohibited this gripe from being saved:
      </h2>
      <ul>
        <% @gripe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <hr/>
  <h3>What's the bus number?</h3><span class="optional"> (optional)</span>
  <div class="field">
    <%#= f.label :bus_number %>
    <%= f.text_field :bus_number, :placeholder => "e.g. 12" %>
  </div>

  <hr/>
  <h3>What's the registration number?</h3><span class="optional"> (optional)</span>
  <div class="field">
    <%#= f.label :registration %>
    <%= f.text_field :registration, :placeholder => "e.g. BU05 XXX", :pattern => '^([A-Z]{3}\s?(\d{3}|\d{2}|d{1})\s?[A-Z])|([A-Z]\s?(\d{3}|\d{2}|\d{1})\s?[A-Z]{3})|(([A-HK-PRSVWY][A-HJ-PR-Y])\s?([0][2-9]|[1-9][0-9])\s?[A-HJ-PR-Z]{3})$'  %>
  </div>

  <hr/>
  <h3>What's your gripe?  </h3>
  <p class="required">(At least one required)</p>
  <div class="field">
    <%= f.label :gripe1%>
    <%= f.select(:gripe1, options_for_select([['choose a gripe', 0],['Dangerous driving', 'Dangerous driving'], ['Bicycle accident', 'Bicycle accident'],['Wheelchair problem', 'Wheelchair problem'],['Child buggy problem', 'Child buggy problem'],['Jumped Red Lights', 'Jumped Red Lights'],['Didn\'t stop at pedestrian crossing', 'Didn\'t stop at pedestrian crossing'],['Motorbike accident', 'Motorbike accident'],['Pedestrian accident', 'Pedestrian accident'],['Didn\'t stop at bus stop', 'Didn\'t stop at bus stop']],0), :required => true) %>
  </div>
  <div class="field">
    <%= f.label :gripe2 %>
      <%= f.select(:gripe2, options_for_select([['choose a gripe', 0],['Dangerous driving', 'Dangerous driving'], ['Bicycle accident', 'Bicycle accident'],['Wheelchair problem', 'Wheelchair problem'],['Child buggy problem', 'Child buggy problem'],['Jumped Red Lights', 'Jumped Red Lights'],['Didn\'t stop at pedestrian crossing', 'Didn\'t stop at pedestrian crossing'],['Motorbike accident', 'Motorbike accident'],['Pedestrian accident', 'Pedestrian accident'],['Didn\'t stop at bus stop', 'Didn\'t stop at bus stop']],0)) %>
  </div>
  <div class="field">
    <%= f.label :gripe3 %>
      <%= f.select(:gripe3, options_for_select([['choose a gripe', 0],['Dangerous driving', 'Dangerous driving'], ['Bicycle accident', 'Bicycle accident'],['Wheelchair problem', 'Wheelchair problem'],['Child buggy problem', 'Child buggy problem'],['Jumped Red Lights', 'Jumped Red Lights'],['Didn\'t stop at pedestrian crossing', 'Didn\'t stop at pedestrian crossing'],['Motorbike accident', 'Motorbike accident'],['Pedestrian accident', 'Pedestrian accident'],['Didn\'t stop at bus stop', 'Didn\'t stop at bus stop']],0)) %>
  </div>
  <div class="field">
    <%= f.label :gripe4 %>
      <%= f.select(:gripe4, options_for_select([['choose a gripe', 0],['Dangerous driving', 'Dangerous driving'], ['Bicycle accident', 'Bicycle accident'],['Wheelchair problem', 'Wheelchair problem'],['Child buggy problem', 'Child buggy problem'],['Jumped Red Lights', 'Jumped Red Lights'],['Didn\'t stop at pedestrian crossing', 'Didn\'t stop at pedestrian crossing'],['Motorbike accident', 'Motorbike accident'],['Pedestrian accident', 'Pedestrian accident'],['Didn\'t stop at bus stop', 'Didn\'t stop at bus stop']],0)) %>
  </div>
  <hr/>
  <div class="field picture-field">
    <h3>Add a picture</h3><span class="optional"> (optional)</span>
    <div class="upload-file-container">
      <div class="upload-button">
        <span>upload</span>
        <%= f.file_field :gripe_photo, :class => "upload" %>
      </div>
      <!-- <button>select file  </button> -->
<!--       <div class="take_pic_wrapper">
        Or 
        <%#= link_to('take photo', "/camera", :id => "take-photo")  %>
      </div> -->
    </div>
  </div>
  <hr/>
  <div class="field">
    <h3>Add a comment</h3><span class="optional"> (optional)</span>
    <br/>
    <%= f.text_area :comment %>
  </div>

  <hr/>
  <h3>Where did this happen?</h3>
  <p class="required">(required)</p>
  <div class="geolocation-button">current location</div>
    <%= f.hidden_field :latitude , :id => "gripe_latitude" %>
    <%= f.hidden_field :longitude, :id => "gripe_longitude" %>
  <p class="or">or enter address below</p>
  <p id="comms"></p>  
  <div class="field address-input">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <hr/>
  <div class="field">
    <h3>When did this happen?</h3>
    <p class="required">(required)</p>
    <div class="time-button">past 10 mins</div>
    <p class="or">or enter time below</p>
    <p class="ten-min-selected"></p>
    <div class="date-time-select">
      <%= f.datetime_select(:occurence, prompt: true) %>
    </div>
  </div>
  
  <hr/>
   <%= f.submit "Submit Gripe", :class => "submit-gripe-btn" %>  

  <% end %> 
</div>

