= form_for(@gripe) do |f|
  - if @gripe.errors.any?
    #error_explanation
      %h2
        = pluralize(@gripe.errors.count, "error")
        prohibited this gripe from being saved:
      %ul
        - @gripe.errors.full_messages.each do |msg|
          %li= msg
  %hr
  %h3 What's the bus number?        
  .field
    = f.label :bus_number
    %br/
    = f.text_field :bus_number
  / %h3 Registration number       
  / .field
  /   = f.label :registration_number
  /   %br/
  /   = f.text_field :registration_number
  %hr
  %h3 What's your gripe?  
  .field
    =f.label :gripe1
    %br
    =f.select(:gripe1, options_for_select([['choose a gripe', 0],['Bus didn\'t stop', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8]]) )
  .field
    =f.label :gripe2
    %br
    =f.select(:gripe2, options_for_select([['choose a gripe', 0],['Bus didn\'t stop', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8]]) )
  .field
    =f.label :gripe3
    %br
    =f.select(:gripe3, options_for_select([['choose a gripe', 0],['Bus didn\'t stop', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8]]) )
  .field
    =f.label :gripe4
    %br
    =f.select(:gripe4, options_for_select([['choose a gripe', 0],['Bus didn\'t stop', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8]]) )
  %hr
  .field
    %h3 Add a picture
    %br/
    .select_file_field
      .select_file_wrapper
        = f.file_field :picture
      %button select file  
      .take_pic_wrapper
        Or 
        =link_to('take photo', "/camera", :id => "take-photo") 
  %hr  
  .field
    %h3 Add a comment
    %br/
    = f.text_area :comment
  %hr  
  %h3 Where did this happen?
  .field
    = f.label :address
    %br/
    = f.text_field :address
  %b or enter bus stop
  %br/  
  .field
    = f.label :bus_stop
    %br/
    = f.text_field :bus_stop
  

    / .field
    /   = f.submit
  %button.create_gripe create gripe
  %hr