<div class="new-gripe">
  <%= form_for(@gripe) do |f| %>
  <% if @gripe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@gripe.errors.count, "error") %>
        prohibited this gripe from being saved:
      </h2>
      <ul>
        <% @gripe.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <hr/>
  <h3>What's the bus number?        </h3>
  <div class="field">
    <%= f.label :bus_number %>
    <br/>
    <%= f.text_field :bus_number, :placeholder => "e.g. 12" %>
  </div>

  <hr/>
  <h3>What's the registration number?        </h3>
  <div class="field">
    <%= f.label :registration %>
    <br/>
    <%= f.text_field :registration, :placeholder => "e.g. BU05 XXX"  %>
  </div>

  <hr/>
  <h3>What's your gripe?  </h3>
  <div class="field">
    <%= f.label :gripe1 %>
    <br/>
    <%= f.select(:gripe1, options_for_select([['choose a gripe', 0],['All Gripes', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8],['Bus didn\'t stop', 9]],0) ) %>
  </div>
  <div class="field">
    <%= f.label :gripe2 %>
    <br/>
    <%= f.select(:gripe2, options_for_select([['choose a gripe', 0],['All Gripes', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8],['Bus didn\'t stop', 9]],0) ) %>
  </div>
  <div class="field">
    <%= f.label :gripe3 %>
    <br/>
    <%= f.select(:gripe3, options_for_select([['choose a gripe', 0],['All Gripes', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8],['Bus didn\'t stop', 9]],0) ) %>
  </div>
  <div class="field">
    <%= f.label :gripe4 %>
    <br/>
    <%= f.select(:gripe4, options_for_select([['choose a gripe', 0],['All Gripes', 1], ['Bicycle accident', 2],['Wheelchair problem', 3],['Child buggy problem', 4],['Jumped Red Lights', 5],['Didn\'t stop at pedestrian crossing',6],['Motorbike accident',7],['Pedestrian accident',8],['Bus didn\'t stop', 9]],0) ) %>
  </div>
  <hr/>
  <div class="field">
    <h3>Add a picture</h3>
    <br/>
    <div class="upload_file_field">
      <div class="upload-wrapper">
        <div class="upload-button">upload</div>
        <%= f.file_field :picture, :class => "upload" %>
      </div>
      <!-- <button>select file  </button> -->
<!--       <div class="take_pic_wrapper">
        Or 
        <%#= link_to('take photo', "/camera", :id => "take-photo")  %>
      </div> -->
    </div>
  </div>
  <hr/>
  <div class="field">
    <h3>Add a comment</h3>
    <br/>
    <%= f.text_area :comment %>
  </div>

  <hr/>
  <h3>Where did this happen?</h3>
  <div class="geolocation-button">current location</div>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  or
  <div class="field address-input">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <hr/>
  <div class="field">
    <h3>When did this happen?</h3>
    <p class="time-button">past 10 mins</p>
    <%#= f.select_datetime :occurence %>
  </div>
  
  <hr/>
   <%= f.submit "Submit Gripe", :class => "submit-gripe-btn" %>  
  

  <hr/>
  <% end %> 
</div>

