= form_for(@gripe) do |f|
  - if @gripe.errors.any?
    #error_explanation
      %h2
        = pluralize(@gripe.errors.count, "error")
        prohibited this gripe from being saved:
      %ul
        - @gripe.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :bus_number
    %br/
    = f.text_field :bus_number
  .field
    =f.label :gripe1
    %br
    =f.select(:gripe1)
      = options_for_select([['Bus', 1], ['Naughty Bus', 2]])
  .field
    = f.label :gripe2
    %br/
    = f.text_field :gripe2
  .field
    = f.label :gripe3
    %br/
    = f.text_field :gripe3
  .field
    = f.label :gripe4
    %br/
    = f.text_field :gripe4
  .field
    = f.label :picture
    %br/
    = f.file_field :picture
  .field
    = f.label :comment
    %br/
    = f.text_area :comment
  .field
    = f.label :bus_stop
    %br/
    = f.text_field :bus_stop
  .field
    = f.label :location
    %br/
    = f.text_field :location
  .field
    = f.submit