h1 Bus Gripes

/ = render 'gripes/form.html.erb'

%table
  %tr
    %th Gripe1
    %th Gripe2
    %th Gripe3
    %th Gripe4
    %th Picture
    %th Comment
    %th Bus stop
    %th Map lat
    %th Map long
    %th
    %th
    %th
  - @gripes.each do |gripe|
    %tr
      %td= gripe.gripe1
      %td= gripe.gripe2
      %td= gripe.gripe3
      %td= gripe.gripe4
      %td= gripe.picture
      %td= gripe.comment
      %td= gripe.bus_stop
      %td= gripe.map_lat
      %td= gripe.map_long
      %td= link_to 'Show', gripe
      %td= link_to 'Edit', edit_gripe_path(gripe)
      %td= link_to 'Destroy', gripe, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Gripe', new_gripe_path