<p id="notice"><%= notice %></p>

<p>
  <b>Gripe1:</b>
  <%= @gripe.gripe1 %>
</p>

<p>
  <b>Gripe2:</b>
  <%= @gripe.gripe2 %>
</p>

<p>
  <b>Gripe3:</b>
  <%= @gripe.gripe3 %>
</p>

<p>
  <b>Gripe4:</b>
  <%= @gripe.gripe4 %>
</p>

<p>
  <b>Picture:</b>
  <%= @gripe.picture %>
</p>

<p>
  <b>Comment:</b>
  <%= @gripe.comment %>
</p>

<p>
  <b>Bus stop:</b>
  <%= @gripe.bus_stop %>
</p>

<p>
  <b>Map lat:</b>
  <%= @gripe.map_lat %>
</p>

<p>
  <b>Map long:</b>
  <%= @gripe.map_long %>
</p>


<%= link_to 'Edit', edit_gripe_path(@gripe) %> |
<%= link_to 'Back', gripes_path %>
