<div data-role="content">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Bus Number:</b>
    <%= @gripe.bus_number %>
  </p>
  <p>
    <b>Registration:</b>
    <%= @gripe.registration %>
  </p>
  <p>
    <b>Gripe1:</b>
    <%= @gripe.gripe1 %>
  </p>

  <p>
    <b>Gripe2:</b>
    <%= @gripe.gripe2 %>
  </p>

  <p>
    <b>Gripe3:</b>
    <%= @gripe.gripe3 %>
  </p>

  <p>
    <b>Gripe4:</b>
    <%= @gripe.gripe4 %>
  </p>

  <p>
      <b>Image:</b>
      <%= image_tag @gripe.gripe_photo.basic.url %>
  </p>

  <p>
    <b>Comment:</b>
    <%= @gripe.comment %>
  </p>

  <p>
    <b>Map lat:</b>
    <%= @gripe.latitude %>
  </p>

  <p>
    <b>Map long:</b>
    <%= @gripe.longitude %>
  </p>

  <p>
    <b>Occurence:</b>
    <%= @gripe.occurence %>
  </p>

</div>

